@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <label asp-for="FizzBuzz.Number"></label><br />
        <input asp-for="FizzBuzz.Number" /><br /><br />
        <button type="submit" class="btn btn-primary">Zatwierdź</button><br />
        @if (Model.FizzBuzz.Number.HasValue)
        {
            Model.FizzBuzz.IsValid(@Model.FizzBuzz.Number);
            <span asp-validation-for="FizzBuzz.Number" class="alert alert-success"> @Model.FizzBuzz.ErrorMessage</span>
        }
    </form><br />

</div>


