@page
@model FizzBuzzWeb_2.Zapisane
@{
    ViewData["Title"] = "Data in session";
}
<p>Dane w zapisane w sesji</p>
@foreach (var var in Model.members)
{
    <p>@var.Name, @var.Year - @var.IsLeap(var.Year)</p>
}
